{% import '_includes/forms' as forms %}

{% macro configWarning(setting) -%}
    {{ 'This is being overridden by the {setting} config setting.'|t('app', {setting: '<code>' ~ setting ~ '</code>' })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% do view.registerAssetBundle("putyourlightson\\sherlock\\assets\\SherlockAsset") %}

{% if craft.app.request.getParam('welcome') %}
    {% include 'sherlock/_includes/welcome' %}
{% endif %}

<div class="sherlock-settings">

    {{ forms.lightswitchField({
        first: true,
        label: 'Live Mode'|t('sherlock'),
        name: 'liveMode',
        instructions: 'If enabled then control panel alerts will be shown to all users that have access to the Sherlock plugin and notification emails will be sent if the site scan status changes from pass to fail and if any critical updates are detected.'|t('sherlock'),
        warning: (config.liveMode is defined ? configWarning('liveMode')),
        on: settings.liveMode,
        toggle: 'notificationEmailAddresses',
        errors: settings.getErrors('liveMode')
    }) }}

    <div id="notificationEmailAddresses" {% if not settings.liveMode %} class="hidden"{% endif %}>

        {{ forms.textField({
            label: 'Notification Email Addresses'|t('sherlock'),
            name: 'notificationEmailAddresses',
            instructions: 'Enter the email addresses (separated by commas) that should be notified of security issues.'|t('sherlock'),
            warning: (config.notificationEmailAddresses is defined ? configWarning('notificationEmailAddresses')),
            value: settings.notificationEmailAddresses,
            errors: settings.getErrors('notificationEmailAddresses')
        }) }}

    </div>

    <hr>

    {{ forms.lightswitchField({
        label: 'High Security Level'|t('sherlock'),
        name: 'highSecurityLevel',
        instructions: 'Whether Sherlock should be extra critical of security issues and the resulting warnings.'|t('sherlock'),
        warning: (config.highSecurityLevel is defined ? configWarning('highSecurityLevel')),
        on: settings.highSecurityLevel,
        errors: settings.getErrors('highSecurityLevel')
    }) }}

    <hr>

    {{ forms.lightswitchField({
        label: 'Header Protection'|t('sherlock'),
        name: 'headerProtectionSettings[enabled]',
        instructions: 'Protects your site by setting HTTP response headers that provide added security.'|t('sherlock'),
        warning: (config.headerProtectionSettings is defined ? configWarning('headerProtectionSettings')),
        on: settings.headerProtectionSettings.enabled,
        toggle: 'headerProtectionSettings',
    }) }}

    <div id="headerProtectionSettings" {% if not settings.headerProtectionSettings.enabled %} class="hidden"{% endif %}>

        {{ forms.editableTableField({
            name: 'headerProtectionSettings[headers]',
            warning: (config.headerProtectionSettings is defined ? configWarning('headerProtectionSettings')),
            cols: [
                {
                    type: 'lightswitch',
                    heading: 'Enabled'|t('sherlock'),
                    thin: true,
                },
                {
                    type: 'singleline',
                    heading: 'Name'|t('sherlock'),
                    placeholder: 'X-Frame-Options',
                    width: '25%',
                    code: true,
                },
                {
                    type: 'singleline',
                    heading: 'Value'|t('sherlock'),
                    placeholder: 'SAMEORIGIN',
                    code: true,
                },
            ],
            rows: settings.headerProtectionSettings.headers,
            minRows: 1,
            addRowLabel: 'Add a header'|t('sherlock'),
        }) }}

    </div>

    <hr>

    {{ forms.lightswitchField({
        label: 'Content Security Policy'|t('sherlock'),
        name: 'contentSecurityPolicySettings[enabled]',
        instructions: 'Enables a content security policy on the front-end of your site ([docs]({url})).'|t('sherlock', {url: 'https://content-security-policy.com/'}),
        warning: (config.contentSecurityPolicySettings is defined ? configWarning('contentSecurityPolicySettings')),
        on: settings.contentSecurityPolicySettings.enabled,
        toggle: 'contentSecurityPolicySettings',
    }) }}

    <div id="contentSecurityPolicySettings" {% if not settings.contentSecurityPolicySettings.enabled %} class="hidden"{% endif %}>

        {{ forms.lightswitchField({
            offLabel: 'Report Only'|t('sherlock'),
            onLabel: 'Enforce Policy'|t('sherlock'),
            name: 'contentSecurityPolicySettings[reportOnly]',
            instructions: 'Whether to report issues in the console only (requires selecting HTTP Header below), or to actually enforce the policy.'|t('sherlock'),
            warning: (config.contentSecurityPolicySettings is defined ? configWarning('contentSecurityPolicySettings')),
            on: settings.contentSecurityPolicySettings.reportOnly,
        }) }}

        {{ forms.lightswitchField({
            offLabel: 'Meta Tag'|t('sherlock'),
            onLabel: 'HTTP Header'|t('sherlock'),
            name: 'contentSecurityPolicySettings[header]',
            instructions: 'Whether to set the content security policy using a meta tag (recommended for statically cached sites) or a HTTP header (recommended for dynamic sites).'|t('sherlock'),
            warning: (config.contentSecurityPolicySettings is defined ? configWarning('contentSecurityPolicySettings')),
            on: settings.contentSecurityPolicySettings.header,
        }) }}

        {{ forms.editableTableField({
            name: 'contentSecurityPolicySettings[directives]',
            warning: (config.contentSecurityPolicySettings is defined ? configWarning('contentSecurityPolicySettings')),
            cols: [
                {
                    type: 'lightswitch',
                    heading: 'Enabled'|t('sherlock'),
                    thin: true,
                },
                {
                    type: 'singleline',
                    heading: 'Directive'|t('sherlock'),
                    placeholder: 'default-src',
                    width: '20%',
                    code: true,
                },
                {
                    type: 'singleline',
                    heading: 'Value'|t('sherlock'),
                    placeholder: "'self' cdn.example.com",
                    code: true,
                },
            ],
            rows: settings.contentSecurityPolicySettings.directives,
            minRows: 1,
            addRowLabel: 'Add a directive'|t('sherlock'),
        }) }}

    </div>

    <hr />

    {{ forms.editableTableField({
        label: 'Restrict Control Panel Access To IP Addresses'|t('sherlock'),
        name: 'restrictControlPanelIpAddresses',
        instructions: 'Restrict access to the control panel to the following IP addresses (logged in admins always have access). The `*` and `?` wildcards are supported.'|t('sherlock'),
        warning: (config.restrictControlPanelIpAddresses is defined ? configWarning('restrictControlPanelIpAddresses')),
        cols: [
            {
                type: 'singleline',
                heading: 'IP Address'|t('sherlock'),
                placeholder: '192.168.0.1',
                code: true,
            },
        ],
        rows: settings.restrictControlPanelIpAddresses,
        addRowLabel: 'Add an IP address'|t('sherlock'),
    }) }}

    {{ forms.editableTableField({
        label: 'Restrict Front-End Access To IP Addresses'|t('sherlock'),
        name: 'restrictFrontEndIpAddresses',
        instructions: 'Restrict access to the front-end to the following IP addresses (logged in admins always have access). The `*` and `?` wildcards are supported.'|t('sherlock'),
        warning: (config.restrictFrontEndIpAddresses is defined ? configWarning('restrictFrontEndIpAddresses')),
        cols: [
            {
                type: 'singleline',
                heading: 'IP Address'|t('sherlock'),
                placeholder: '192.168.0.1',
                code: true,
            },
        ],
        rows: settings.restrictFrontEndIpAddresses,
        addRowLabel: 'Add an IP address'|t('sherlock'),
    }) }}

</div>
