{% extends 'sherlock/_layouts/tests' %}

{% set title = 'Sherlock' %}
{% set faIcons = {
    'code': 'fa-code',
    'files': 'fa-copy',
    'folder': 'fa-folder',
    'plugin': 'fa-plug',
    'secure': 'fa-lock',
    'server': 'fa-server',
    'settings': 'fa-cog',
    'upload': 'fa-upload',
    'user': 'fa-user',
} %}

{% set bundle = view.registerAssetBundle("putyourlightson\\sherlock\\assets\\SherlockAsset") %}
{% set resourcesUrl = bundle.baseUrl %}


{% block content %}

    {% set allScans = craft.sherlock.getAllScans() %}

    {% if allScans|length %}

        {% set lastScan = allScans[0] %}

        <div class="sherlock">
            <div class="buttons right">
                <a href="#" class="btn submit run-scan" data-url="{{ actionUrl('sherlock/ajax/run-scan') }}">{{ "Run Scan Now"|t('sherlock') }}</a>
            </div>

            <h1 class="title">{{ "Last Security Scan"|t('sherlock') }}</h1>
            <h2>
                <i class="fas fa-history"></i>
                {{ lastScan.dateCreated|date('j F Y \\a\\t H:i') }}
            </h2>

            <h1>
                <img width="32" height="32" src="{{ resourcesUrl ~ '/icons/' ~ (lastScan.pass ? 'pass' : 'fail') ~ '.svg' }}" alt="{{ (lastScan.pass ? 'Pass' : 'Fail')|t('sherlock') }}" />
                <span>This site <strong>{{ lastScan.pass ? 'pass' : 'fail' }}ed</strong> the <strong>{{ craft.sherlock.checkHighSecurityLevel ? 'high' : 'standard' }}</strong> security scan {{ lastScan.pass and lastScan.warning ? ' with <strong>warnings</strong>'|raw }}</span>
                <span class="info">{{ "This security scan result is determined by a set of criteria used by Sherlock's standard/high security level setting. This is only a guideline and cannot ensure that your site and server are 100% secure. The security of this site is solely the responsibility of the site owner."|t('sherlock') }}</span>
            </h1>

            <table class="data fullwidth">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ "Test"|t('sherlock') }}</th>
                        <th>{{ "Details"|t('sherlock') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultType, results in lastScan.results %}
                        {% for testName, value in results %}
                            {% if tests[testName] is defined %}
                                {% set test = tests[testName] %}
                                <tr>
                                    <td>
                                        <img src="{{ resourcesUrl ~ '/icons/' ~ resultType ~ '.svg' }}" title="{{ resultType|capitalize }}" alt="{{ resultType|capitalize }}" />
                                    </td>
                                    <td>
                                        <i class="type fa {{ faIcons[test.type] }}" title="{{ test.typeName|t('sherlock') }}"></i>
                                        <span class="{{ resultType == 'fail' ? 'fail' }}">{{ test.name|t('sherlock') }}</span>
                                    </td>
                                    <td>
                                        <span class="result {{ resultType == 'fail' ? 'fail' }}">
                                            {% if resultType == 'pass' %}
                                                {{ test.details.pass|t('sherlock')|raw }}
                                            {% elseif resultType == 'warning' %}
                                                {{ test.details.warning|t('sherlock')|raw }}
                                            {% else %}
                                                {{ (test.details.fail is defined ? test.details.fail : test.details.warning)|t('sherlock')|raw }}
                                            {% endif %}
                                            {{ value ? value|raw }}
                                        </span>
                                        {% if test.info and not (testName == 'pluginVulnerabilities' and resultType == 'fail') %}
                                            <span class="info">{{ test.info|t('sherlock') }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if test.url is defined %}
                                            <a href="{{ test.url }}" class="go" target="_blank">{{ "Docs"|t('sherlock') }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

            <div class="buttons right">
                <a href="#" class="btn submit run-scan" data-url="{{ actionUrl('ajax/run-scan') }}">{{ "Run Scan Now"|t('sherlock') }}</a>
            </div>

            <h1 class="title">{{ "Security Scan History"|t('sherlock') }}</h1>
            <h2><i class="fas fa-history"></i> {{ "Previously run security scans"|t('sherlock') }}</h2>

            <table class="data fullwidth limited" data-limit="10">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ "Result"|t('sherlock') }}</th>
                        <th>{{ "Security Level"|t('sherlock') }}</th>
                        <th>{{ "Failed Tests"|t('sherlock') }}</th>
                        <th>{{ "Warnings"|t('sherlock') }}</th>
                        <th>{{ "Date"|t('sherlock') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scan in allScans %}
                        <tr>
                            <td><img src="{{ resourcesUrl ~ '/icons/' ~ (scan.pass ? 'pass' : 'fail') ~ '.svg' }}" alt="{{ (scan.pass ? 'Pass' : 'Fail')|t('sherlock') }}" /></td>
                            <td>{{ scan.pass ? 'Pass' ~ (scan.warning ? ' with warnings') : 'Fail' }}</td>
                            <td>{{ scan.highSecurityLevel ? 'High' : 'Standard' }}</td>
                            <td>{{ scan.results.fail is defined ? scan.results.fail|length : 0 }}</td>
                            <td>{{ scan.results.warning is defined ? scan.results.warning|length : 0 }}</td>
                            <td>{{ scan.dateCreated|date('j F Y \\a\\t H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="expand" style="display: none;">
                <a class="view-more" href="#">View all scan history<b class="caret"></b></a>
                <a class="view-less dropup" href="#" style="display: none;">View less scan history<b class="caret up"></b></a>
            </div>
        </div>

    {% else %}

        <script>var runScan = '{{ actionUrl('sherlock/ajax/run-scan') }}';</script>

    {% endif %}

    <div class="running" {{ allScans|length ? 'style="display: none;"' }}>
        <div id="graphic" class="spinner big"></div>
        <div id="status"><p>{{ "Running security scan…"|t('sherlock') }}</p></div>
    </div>

{% endblock %}
