.welcome {
    position: relative;
    text-align: center;
    padding: 30px;
    background: #ECF8FF;
    border-radius: 7px;
    margin-bottom: 30px;
}

.welcome .logo {
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 120px;
}

@media (max-width: 768px) {
    .welcome .logo {
        display: none;
    }
}

.welcome .main {
    position: relative;
}

.welcome .icon {
    height: 130px;
}

.sherlock h1 {
    color: #000;
    font-size: 26px;
    margin: 15px 0 30px;
}

.sherlock h2 {
    color: #8f98a3;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 40px;
}

.sherlock h1.title {
    margin: 15px 0 10px;
}

.sherlock h1 img {
    vertical-align: text-bottom;
}

.sherlock h1 .info {
    vertical-align: top;
    font-size: 14px;
}

.sherlock table.results {
    margin-bottom: 60px;
}

.sherlock table.data .flex {
    flex-wrap: nowrap;
}

.sherlock table.data th:first-of-type {
    width: 22px;
}

.sherlock table.data td:first-of-type i {
    font-size: 20px;
    vertical-align: middle;
}

.sherlock table.data td:last-of-type {
    min-width: 80px;
}

.sherlock .fail {
    font-weight: bold;
}

.sherlock i.fail {
    color: #e94538 !important;
}

.sherlock i.pass {
    font-size: 22px !important;
    color: #708e09 !important;
}

.sherlock i.warning {
    margin-left: -2px;
    color: #ffbf00 !important;
}

.sherlock i.type {
    font-size: 15px;
    width: 16px;
    color: #CECBD8;
}

.sherlock i.type.fa-lock, .sherlock i.type.fa-code {
    font-size: 14px;
}

.sherlock .expand {
    margin: 15px 0;
}

.sherlock .result .info:before {
    content: 'alert';
}

.sherlock .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    margin-left: 3px;
}

.sherlock .caret.up {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid;
}

.running #status .btn {
    font-size: 14px;
}

.sherlock-settings .pro {
    position: relative;
    border: 1px solid #e4edf6;
    margin: 30px 0;
}

.sherlock-settings .pro:first-child {
    margin-top: 0;
}

.sherlock-settings .pro:last-child {
    margin-bottom: 0;
}

.sherlock-settings .pro::before {
    content: '';
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.sherlock-settings .pro, .sherlock-settings .pro::before {
    background: #fafafa;
    border-radius: 7px;
}

.sherlock-settings .pro .tag {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 5px 20px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 5px;
    background: #e4edf6;
    color: #596673;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.sherlock-settings .pro .inner {
    padding: 30px 20px;
}

.sherlock-settings .missing-fields {
    margin: 25px 0;
}

.sherlock-settings .missing-fields .field {
    margin: 10px 0;
}

.sherlock-settings .extra-instructions {
    margin-top: -15px;
    line-height: 1.4;
    color: #8f98a3;
}

.hud-shade {
    background: #000000;
    opacity: 0.4;
}

.info-hud {
    line-height: 21px;
    max-width: 500px;
}
