{% extends "_layouts/cp" %}


{% set tests = {
    'criticalCraftUpdates': {
        'name': 'Critical Craft Updates',
        'type': 'upload',
        'typeName': 'Software Update',
        'details': {
            'pass': 'No critical Craft updates available',
            'warning': 'Apply critical Craft updates:',
        },
        'info': 'Critical Craft updates should be given immediate attention as soon as they are released as they can contain important security fixes.',
        'url': 'https://github.com/craftcms/cms/blob/develop/CHANGELOG-v3.md',
    },
    'criticalPluginUpdates': {
        'name': 'Critical Plugin Updates',
        'type': 'upload',
        'typeName': 'Software Update',
        'details': {
            'pass': 'No critical plugin updates available',
            'warning': 'Apply critical plugin updates:',
        },
        'info': 'Critical plugin updates should be given immediate attention as soon as they are released as they can contain important security fixes.',
    },
    'pluginVulnerabilities': {
        'name': 'Plugin Vulnerabilities',
        'type': 'plugin',
        'typeName': 'Plugins',
        'details': {
            'pass': 'No known plugin vulnerabilities',
            'warning': 'Missing or invalid JSON feed URL',
            'fail': 'Fix known plugin vulnerabilities:',
        },
        'info': 'Plugins with known vulnerabilities that are installed on your site and that have been reported in the JSON feed URL setting will be shown here.',
        'url': 'https://github.com/putyourlightson/craft-plugin-vulnerabilities',
    },
    'httpsControlPanel': {
        'name': 'HTTPS In Control Panel',
        'type': 'secure',
        'typeName': 'Security',
        'details': {
            'pass': 'Control panel is using an encrypted HTTPS connection',
            'warning': 'Use an encrypted HTTPS connection in control panel',
        },
        'info': 'Using an SSL certificate and an encrypted HTTPS connection in your control panel ensures secure authentication of users and protects your site data.',
        'url': 'https://craftcms.com/support/force-ssl',
    },
    'httpsFrontEnd': {
        'name': 'HTTPS On Front-End',
        'type': 'secure',
        'typeName': 'Security',
        'details': {
            'pass': 'Front-end site is forcing an encrypted HTTPS connection',
            'warning': 'Force an encrypted HTTPS connection on front-end site',
        },
        'info': 'Using an SSL certificate and forcing your front-end site to use an encrypted HTTPS connection protects your site and user data. This is especially important if public user registration is allowed.',
        'url': 'https://craftcms.com/support/force-ssl',
    },
    'cors': {
        'name': 'Cross-Origin Resource Sharing (CORS)',
        'type': 'header',
        'typeName': 'HTTP Header',
        'details': {
            'pass': 'Access to other sites is not granted',
            'warning': 'Access is granted to:',
            'fail': 'Remove CORS access:',
        },
        'info': 'Cross-origin resource sharing (CORS) allows sites from other domains to access resources on your site’s domain. If you must use CORS then be sure to limit it to specific domains rather than granting access to all domains using a wildcard.',
        'url': 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS',
    },
    'xFrameOptions': {
        'name': 'X-Frame-Options Header',
        'type': 'header',
        'typeName': 'HTTP Header',
        'details': {
            'pass': 'X-Frame-Options header is set to',
            'warning': 'Set X-Frame-Options header to "DENY" or "SAMEORIGIN"',
        },
        'info': 'The X-Frame-Options header protects your visitors against clickjacking attacks. Setting it to DENY means your site cannot be framed, setting it to SAMEORIGIN allows your site to be framed on your domain only. The ALLOW-FROM value is not supported in all browsers and therefore should be avoided.',
        'url': 'https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options',
    },
    'xContentTypeOptions': {
        'name': 'X-Content-Type-Options Header',
        'type': 'header',
        'typeName': 'HTTP Header',
        'details': {
            'pass': 'X-Content-Type-Options header is set to',
            'warning': 'Set X-Content-Type-Options header to "nosniff"',
        },
        'info': 'The X-Content-Type-Options header prevents Google Chrome and Internet Explorer from trying to mime-sniff the content-type of a response away from the one being declared by the server. It reduces exposure to drive-by downloads and the risks of user uploaded content that could be treated as a different content-type, like an executable.',
        'url': 'https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options',
    },
    'xXssProtection': {
        'name': 'X-XSS-Protection Header',
        'type': 'header',
        'typeName': 'HTTP Header',
        'details': {
            'pass': 'X-XSS-Protection header is set to',
            'warning': 'Set X-XSS-Protection header to "1; mode=block"',
        },
        'info': 'The X-XSS-Protection header is used to configure the built in reflective XSS protection found in browsers. Setting the header to "1; mode=block" tells the browser to block the response if it detects an attack rather than sanitising the script.',
        'url': 'https://scotthelme.co.uk/hardening-your-http-response-headers/#x-xss-protection',
    },
    'strictTransportSecurity': {
        'name': 'Strict-Transport-Security Header',
        'type': 'header',
        'typeName': 'HTTP Header',
        'details': {
            'pass': 'Strict-Transport-Security header not required',
            'warning': 'Set Strict-Transport-Security header to "max-age=31536000"',
        },
        'info': 'The Strict-Transport-Security header allows a web server to enforce the use of TLS in a web browser. It allows for a more effective implementation of TLS by ensuring all communication takes place over a secure transport layer on the client side. It should be set for communication over HTTPS connections only.',
        'url': 'https://scotthelme.co.uk/hsts-the-missing-link-in-tls/',
    },
    'craftFoldersAboveWebRoot': {
        'name': 'Craft Folders Above Web Root',
        'typeName': 'File/Folder System',
        'type': 'folder',
        'details': {
            'pass': 'Craft folders are located above the web root',
            'warning': 'Craft folders not located above the web root:',
        },
        'info': 'Keeping the Craft folders above the web root ensures that no one can access any of their files directly.',
        'url': 'https://docs.craftcms.com/v3/installation.html#step-1-download-craft',
    },
    'craftFolderPermissions': {
        'name': 'Craft Folder Permissions',
        'typeName': 'File/Folder System',
        'type': 'folder',
        'details': {
            'pass': 'Craft folder permissions are correctly set',
            'warning': 'Craft folder permissions are not correctly set:',
        },
        'info': 'The folder permissions of Craft’s writeable folders. Set these to at most 0775, which will grant everything for the owner and group, read and execute for everyone else.',
        'url': 'https://docs.craftcms.com/v3/installation.html#step-2-set-the-file-permissions',
    },
    'craftFilePermissions': {
        'name': 'Craft File Permissions',
        'typeName': 'File/Folder System',
        'type': 'files',
        'details': {
            'pass': 'Craft file permissions are correctly set',
            'warning': 'Craft file permissions are not correctly set:',
        },
        'info': 'The file permissions of Craft’s writable files. Set these to at most 0664, which will grant read and write for the owner and group, read for everyone else.',
        'url': 'https://docs.craftcms.com/v3/installation.html#step-2-set-the-file-permissions',
    },
    'phpVersion': {
        'name': 'PHP Version',
        'type': 'code',
        'typeName': 'Server Language',
        'details': {
            'pass': 'Site is running on a supported PHP version',
            'warning': 'Site is running on an unsupported PHP version',
        },
        'info': 'Each release branch of PHP is fully supported for two years from its initial stable release, followed by an additional year for critical security issues only. After this time the branch reaches its end of life and is no longer supported.',
        'url': 'http://php.net/supported-versions.php',
    },
    'craftUpdates': {
        'name': 'Craft Updates',
        'type': 'upload',
        'typeName': 'Software Update',
        'details': {
            'pass': 'No Craft updates available',
            'warning': 'Your version of Craft is behind the latest version',
        },
        'info': 'Craft updates can contain security enhancements and bug fixes so it is recommended to keep it updated whenever possible.',
        'url': 'https://craftcms.com/changelog',
    },
    'pluginUpdates': {
        'name': 'Plugin Updates',
        'type': 'upload',
        'typeName': 'Software Update',
        'details': {
            'pass': 'No plugin updates available',
            'warning': 'Update plugins to latest versions:',
        },
        'info': 'Plugin updates can contain security enhancements and bug fixes so it is recommended to keep them updated whenever possible.',
    },
    'requireEmailVerification': {
        'name': 'Require Email Verification',
        'type': 'users',
        'typeName': 'User Setting',
        'details': {
            'pass': 'Require email verification is enabled',
            'warning': 'Require email verification is disabled',
        },
        'info': 'Requiring that new email addresses are verified before getting saved to user accounts ensures that they are genuine and active email addresses.',
    },
    'devMode': {
        'name': 'Dev Mode',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Dev mode is disabled',
            'warning': 'Disable dev mode',
        },
        'info': 'Dev mode is intended for testing and debugging your site and outputs performance related data on the front-end. It should never be enabled in live production environments.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#devmode',
    },
    'translationDebugOutput': {
        'name': 'Translation Debug Output',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Translation debug output is disabled',
            'warning': 'Set translation debug output to false',
        },
        'info': 'If enabled, this setting will wrap all strings that are run through `Craft::t()` or the `|translate` filter with "@" symbols. It is intended for debugging and should be disabled in live production environments.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#translationdebugoutput',
    },
    'defaultFileMode': {
        'name': 'Default File Permissions',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Default file permissions are set to ',
            'warning': 'Set default file permissions to 0664',
        },
        'info': 'The permissions Craft will use when creating a new file on the file system. Set this to at most 0664, which will grant read and write for the owner and group, read for everyone else.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#defaultfilemode',
    },
    'defaultDirMode': {
        'name': 'Default Folder Permissions',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Default folder permissions are set to ',
            'warning': 'Set default folder permissions to 0775',
        },
        'info': 'The permissions Craft will use when creating a new folder on the file system. Set this to at most 0775, which will grant everything for the owner and group, read and execute for everyone else.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#defaultdirmode',
    },
    'defaultTokenDuration': {
        'name': 'Default Token Duration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Default token duration is set to',
            'warning': 'Set default token duration to P1D or less',
        },
        'info': 'The duration that system tokens should last for. Setting this to P1D or less will ensure that system tokens expire after at most 1 day.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#defaulttokenduration',
    },
    'enableCsrfProtection': {
        'name': 'CSRF Protection',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'CSRF protection is enabled',
            'warning': 'Enable CSRF protection',
        },
        'info': 'Cross-Site Request Forgery (CSRF) protection ensures that all POST requests to Craft must be accompanied by a CSRF token, otherwise the request will be rejected with a 400 error. This helps to prevent attacks that force unwanted actions to be executed on behalf of a user that is authenticated and logged in to Craft.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#enablecsrfprotection',
    },
    'useSecureCookies': {
        'name': 'Use Secure Cookies',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Site is using secure cookies',
            'warning': 'Set secure cookies to "on" or "auto"',
        },
        'info': 'Whether Craft should set the secure flag on its cookies, limiting them to only be sent on secure (SSL) requests. Setting this to "on" or "auto" will ensure that the secure flag is set.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#usesecurecookies',
    },
    'cpTrigger': {
        'name': 'Control Panel Trigger',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Control panel trigger is not "admin"',
            'warning': 'Change control panel trigger to something other than "admin"',
        },
        'info': 'This is the URI segment that triggers Craft to load the control panel rather than the front-end website. Changing this to something other than the default "admin" can help prevent people from guessing the access point to your site’s control panel.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#cptrigger',
    },
    'blowfishHashCost': {
        'name': 'Blowfish Hash Cost',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Blowfish hash cost is set to',
            'warning': 'Set blowfish hash cost to at least 13',
        },
        'info': 'The higher the cost value, the longer it takes to generate a password hash and to verify against it. For best protection against brute force attacks, set it to the highest value that is tolerable on your server.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#blowfishhashcost',
    },
    'cooldownDuration': {
        'name': 'Cooldown Duration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Cooldown duration is set to',
            'warning': 'Set cooldown duration to false or at least PT5M',
        },
        'info': 'The amount of time a user must wait before re-attempting to log in after their account is locked due to too many failed login attempts. Setting this to false will keep the account locked indefinitely. Setting this to PT5M will keep the account locked for 5 minutes.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#cooldownduration',
    },
    'invalidLoginWindowDuration': {
        'name': 'Invalid Login Window Duration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Invalid login window duration is set to',
            'warning': 'Set invalid login window duration to at least PT1H',
        },
        'info': 'The amount of time to track invalid login attempts for a user, for determining if Craft should lock an account. Setting this to at least PT1H will ensure that invalid login attempts are tracked for at least 1 hour.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#invalidloginwindowduration',
    },
    'maxInvalidLogins': {
        'name': 'Max Invalid Logins',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Max invalid logins is set to',
            'warning': 'Set max invalid logins to 5 or less',
        },
        'info': 'The number of invalid login attempts Craft will allow within the specified duration before the account gets locked. Set this to 5 or less to help prevent a brute force attack.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#maxinvalidlogins',
    },
    'rememberedUserSessionDuration': {
        'name': 'Remembered User Session Duration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Remembered user session duration is set to',
            'warning': 'Set remembered user session duration to P2W or less',
        },
        'info': 'The amount of time a user stays logged in if "Remember Me" is checked on the login page. Setting this to P2W or less will ensure that users are remembered for at most 2 weeks.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#rememberedusersessionduration',
    },
    'requireMatchingUserAgentForSession': {
        'name': 'Require Matching User Agent For Session',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Require matching user agent for session is enabled',
            'warning': 'Set require matching user agent for session to true',
        },
        'info': 'Whether Craft should require a matching user agent string when restoring a user session from a cookie. Keeping this enabled will prevent users switching to different browsers/devices while remaining logged in.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#requirematchinguseragentforsession',
    },
    'requireUserAgentAndIpForSession': {
        'name': 'Require User Agent And IP For Session',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Require user agent and IP for session is enabled',
            'warning': 'Set require user agent and IP for session to true',
        },
        'info': 'Whether Craft should require the existence of a user agent string and IP address when creating a new user session. Keeping this enabled will help prevent user sessions being created for bots.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#requireuseragentandipforsession',
    },
    'testToEmailAddress': {
        'name': 'Test Email Address',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Test email address is disabled',
            'warning': 'Remove test email address',
        },
        'info': 'If set, all system emails will be sent to this email address. It is intended for testing and should be disabled in live production environments.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#testtoemailaddress',
    },
    'userSessionDuration': {
        'name': 'Remembered User Session Duration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Remembered user session duration is set to',
            'warning': 'Set user session duration to PT1H or less',
        },
        'info': 'The amount of time a user stays logged in. Setting this to false will allow users to stay logged in as long as their browser is open. Setting this to PT1H or less will allow users to stay logged in for at most 1 hour.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#usersessionduration',
    },
    'verificationCodeDuration': {
        'name': 'Verification Code Duration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Verification code duration is set to',
            'warning': 'Set verification code duration to P1D or less',
        },
        'info': 'The amount of time a user verification code can be used before expiring. Setting this to P1D or less will ensure that the user verification code expires after at most 1 day.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#verificationcodeduration',
    },
    'preventUserEnumeration': {
        'name': 'Prevent User Enumeration',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Prevent user enumeration is enabled',
            'warning': 'Set prevent user enumeration to true',
        },
        'info': 'When true, Craft will always return a successful response in the “forgot password” flow, making it difficult to enumerate users. When set to false and you go through the “forgot password” flow from the control panel login page, you’ll get distinct messages indicating whether the username/email exists and whether an email was sent with further instructions. This can be helpful for the user attempting to log in but allow for username/email enumeration based on the response.',
        'url': 'https://docs.craftcms.com/api/v3/craft-config-generalconfig.html#preventuserenumeration',
    },
    'sanitizeSvgUploads': {
        'name': 'Sanitize SVG Uploads',
        'type': 'settings',
        'typeName': 'Config Setting',
        'details': {
            'pass': 'Sanitizing uploaded SVG files is enabled',
            'warning': 'Set sanitize SVG uploads to true',
        },
        'info': 'Whether Craft should sanitize uploaded SVG files and strip out potential malicious-looking content. This should definitely be enabled if you are accepting SVG uploads from untrusted sources.',
        'url': 'https://craftcms.com/docs/3.x/config/config-settings.html#sanitizesvguploads',
    }
} %}
