{% extends '_layouts/cp' %}


{% set tests = {
    criticalCraftUpdates: {
        name: 'Critical Craft Updates',
        type: 'upload',
        typeName: 'Software Update',
        safeValue: true,
        details: {
            pass: 'No critical Craft updates available',
            warning: 'Apply critical Craft updates:',
        },
        info: 'Critical Craft updates should be given immediate attention as soon as they are released as they can contain important security fixes. Not doing so puts your site at serious risk.

            If, for whatever reason, it is not possible to update the site, then you should at least make yourself aware of the gravity of the vulnerability that the updates addressed and the potential consequences of not applying the fixes.',
        link: {
            label: 'Changelog',
            url: 'https://github.com/craftcms/cms/blob/master/CHANGELOG.md',
        },
    },
    criticalPluginUpdates: {
        name: 'Critical Plugin Updates',
        type: 'plugin',
        typeName: 'Plugins',
        safeValue: true,
        details: {
            pass: 'No critical plugin updates available',
            warning: 'Apply critical plugin updates:',
        },
        info: 'Critical plugin updates should be given immediate attention as soon as they are released as they can contain important security fixes. Not doing so puts your site at serious risk.

            If, for whatever reason, it is not possible to update the site, then you should at least make yourself aware of the gravity of the vulnerability that the updates addressed and the potential consequences of not applying the fixes.',
    },
    craftUpdates: {
        name: 'Craft Updates',
        type: 'upload',
        typeName: 'Software Update',
        safeValue: true,
        details: {
            pass: 'No Craft updates available',
            warning: 'Your version of Craft is behind the latest version',
        },
        info: 'Craft updates can contain security enhancements and bug fixes that are not deemed critical, so it is nevertheless recommended to apply them whenever possible.',
        link: {
            label: 'Changelog',
            url: 'https://github.com/craftcms/cms/blob/master/CHANGELOG.md',
        },
    },
    pluginUpdates: {
        name: 'Plugin Updates',
        type: 'plugin',
        typeName: 'Plugins',
        safeValue: true,
        details: {
            pass: 'No plugin updates available',
            warning: 'Update plugins to latest versions:',
        },
        info: 'Plugin updates can contain security enhancements and bug fixes that are not deemed critical, so it is nevertheless recommended to apply them whenever possible.',
    },
    httpsControlPanel: {
        name: 'HTTPS In Control Panel',
        type: 'secure',
        typeName: 'Security',
        details: {
            pass: 'Control panel is forcing an encrypted HTTPS connection',
            warning: 'Force an encrypted HTTPS connection in control panel',
        },
        info: 'Using an SSL certificate and forcing the control panel to use an encrypted HTTPS connection ensures secure authentication of users and protects site data. This is especially important since some of your users may be admins or have elevated privileges.

            SSL certificates have become very affordable and straightforward to install, so there is no excuse for not using one. A HTTPS connection will not only secure all communications between users and your site, it will also make your site appear more trustworthy to browsers and search engines.',
        link: {
            label: 'Craft Article',
            url: 'https://craftcms.com/knowledge-base/enforcing-ssl-for-cp-requests',
        },
    },
    httpsFrontEnd: {
        name: 'HTTPS On Front-End',
        type: 'secure',
        typeName: 'Security',
        details: {
            pass: 'Front-end site is forcing an encrypted HTTPS connection',
            warning: 'Force an encrypted HTTPS connection on front-end',
        },
        info: 'Using an SSL certificate and forcing the front-end of your site to use an encrypted HTTPS connection protects the site and user data. This is especially important if public user registration is allowed, as you may be collecting and storing personal data.

            SSL certificates have become very affordable and straightforward to install, so there is no excuse for not using one. A HTTPS connection will not only secure all communications between users and your site, it will also make your site appear more trustworthy to browsers and search engines.',
        link: {
            label: 'Craft Article',
            url: 'https://craftcms.com/knowledge-base/securing-craft#install-an-ssl-certificate-and-enforce-it',
        },
    },
    craftFilePermissions: {
        name: 'Craft File Permissions',
        typeName: 'File/Folder System',
        type: 'files',
        details: {
            pass: 'Craft file permissions are correctly set',
            warning: 'Craft file permissions are not correctly set:',
        },
        info: 'The file permissions of the files that Craft must be able to write to. Set these to at most 0664, which will grant read and write for the owner and group, read for everyone else.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/installation.html#step-2-set-the-file-permissions',
        },
    },
    craftFolderPermissions: {
        name: 'Craft Folder Permissions',
        typeName: 'File/Folder System',
        type: 'folder',
        details: {
            pass: 'Craft folder permissions are correctly set',
            warning: 'Craft folder permissions are not correctly set:',
        },
        info: 'The folder permissions of the folders that Craft must be able to write to. Set these to at most 0775, which will grant everything for the owner and group, read and execute for everyone else.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/installation.html#step-2-set-the-file-permissions',
        },
    },
    craftFoldersAboveWebRoot: {
        name: 'Craft Folders Above Web Root',
        typeName: 'File/Folder System',
        type: 'folder',
        details: {
            pass: 'Craft folders are located above the web root',
            warning: 'Craft folders not located above the web root:',
        },
        info: 'Keeping the Craft folders above the web root ensures that no one can access any of their files directly.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/directory-structure.html',
        },
    },
    phpVersion: {
        name: 'PHP Version',
        type: 'code',
        typeName: 'Server Language',
        details: {
            pass: 'Site is running on a supported PHP version',
            warning: 'Site is running on an unsupported PHP version',
        },
        info: 'Each release branch of PHP is fully supported for two years from its initial stable release, followed by an additional year for critical security issues only. After this time the branch reaches its end of life and is no longer supported.

            • PHP 7.3 receives security support until 6 December 2021.
            • PHP 7.4 receives security support until 28 November 2022.
            • PHP 8.0 receives security support until 26 November 2023.

            Running a version of PHP that is no longer receiving security support may put your site at serious risk.',
        link: {
            label: 'Supported Versions',
            url: 'http://php.net/supported-versions.php',
        },
    },
    phpComposerVersion: {
        name: 'PHP Composer Version',
        type: 'code',
        typeName: 'Server Language',
        details: {
            pass: 'Composer is using the correct PHP version',
            warning: 'Set the PHP version in composer.json to',
        },
        info: 'Craft adds a PHP platform requirement (config → platform → php) to your project’s composer.json file when it is installed. You should change this version to reflect that used on your production web server. Doing so will ensure that the latest versions of dependencies will be used, according to their PHP version requirements.',
        link: {
            label: 'Composer Platform',
            url: 'https://getcomposer.org/doc/06-config.md#platform',
        },
    },
    adminUsername: {
        name: 'Admin Username',
        type: 'user',
        typeName: 'User',
        details: {
            pass: 'No admin account with username "admin" exists' ,
            warning: 'An admin account with username "admin" exists',
        },
        info: 'Since admin accounts have the highest privileges in Craft, it is better to avoid having any with the username "admin", which is easily guessable. This makes it harder for potential attackers to target admin user accounts.',
    },
    requireEmailVerification: {
        name: 'Require Email Verification',
        type: 'user',
        typeName: 'User Setting',
        details: {
            pass: 'Require email verification is enabled',
            warning: 'Require email verification is disabled',
        },
        info: 'Requiring that new email addresses are verified before getting saved to user accounts ensures that they are genuine and active email addresses. Not doing so can lead to fake accounts being created by spam bots.',
    },
    webAliasInSiteBaseUrl: {
        name: 'Web Alias In Site Base URL',
        typeName: 'Alias',
        type: 'alias',
        details: {
            pass: 'Dynamic @web alias not used in site’s base URL',
            warning: 'Dynamic @web alias is used in site’s base URL',
        },
        info: 'When using the @web alias in your site’s base URL, it should be explicitly defined rather than dynamically generated. Leaving it dynamic could introduce a cache poisoning vulnerability, and Craft won’t be able to reliably determine which site is being requested. This can result in issues when running console commands.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/#aliases',
        },
    },
    webAliasInVolumeBaseUrl: {
        name: 'Web Alias In Volume Base URL',
        typeName: 'Alias',
        type: 'alias',
        details: {
            pass: 'Dynamic @web alias not used in volume base URL',
            warning: 'Dynamic @web alias is used in volume base URL:',
        },
        info: 'When using the @web alias in your asset volume’s base URL, it should be explicitly defined rather than dynamically generated. Leaving it dynamic could introduce a cache poisoning vulnerability, and Craft won’t be able to reliably determine which volume is being requested. This can result in issues when running console commands.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/#aliases',
        },
    },
    contentSecurityPolicy: {
        name: 'Content-Security-Policy Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: '',
            warning: '',
        },
        info: 'A Content Security Policy (CSP) is an added layer of security that helps to detect and mitigate certain types of attacks, including cross-site scripting (XSS) and data injection attacks. These attacks are used for everything from data theft to site defacement.

            By enforcing a Content Security Policy, you explicitly tell the browser which types of resources (images, scripts, styles, etc.) it is allowed to load, where it may load them from (your site, external sites, etc.) and whether inline scripts and styles may be processed. Setting it up takes some time and should be done with care, but results in a very effective method of mitigating and reporting attacks.

            Sherlock can help you create a Content Security Policy by allowing you to set the directives, switch from reporting to enforcing when you are ready and choose to implement it using a HTTP header or meta tag.',
        link: {
            label: 'MDN Article',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP',
        },
    },
    cors: {
        name: 'Cross-Origin Resource Sharing (CORS)',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'Access to other sites is not granted',
            warning: 'Access is granted to:',
            fail: 'Remove CORS access:',
        },
        info: 'Cross-Origin Resource Sharing (CORS) is an HTTP-header based mechanism that allows a server to indicate any other origins (domain, scheme, or port) than its own from which a browser should permit loading of resources. CORS also relies on a mechanism by which browsers make a preflight request to the server hosting the cross-origin resource, in order to check that the server will permit the actual request. In that preflight, the browser sends headers that indicate the HTTP method and headers that will be used in the actual request.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS',
        },
    },
    expectCT: {
        name: 'Expect-CT Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'Expect-CT header is set',
            warning: 'Set the Expect-CT header',
        },
        info: 'The Expect-CT header lets sites opt in to reporting and/or enforcement of Certificate Transparency requirements, to prevent the use of misissued certificates for that site from going unnoticed.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect-CT',
        },
    },
    referrerPolicy: {
        name: 'Referrer-Policy Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'Referrer-Policy header is set to',
            warning: 'Set the Referrer-Policy header',
        },
        info: 'The Referrer-Policy header controls how much referrer information (sent via the Referer header) should be included with requests.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy',
        },
    },
    strictTransportSecurity: {
        name: 'Strict-Transport-Security Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'Strict-Transport-Security header is set to',
            warning: 'Set Strict-Transport-Security header to "max-age=31536000"',
        },
        info: 'The Strict-Transport-Security header (often abbreviated as HSTS) lets a web site tell browsers that it should only be accessed using HTTPS, instead of using HTTP.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security',
        },
    },
    xContentTypeOptions: {
        name: 'X-Content-Type-Options Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'X-Content-Type-Options header is set to',
            warning: 'Set X-Content-Type-Options header to "nosniff"',
        },
        info: 'The X-Content-Type-Options header is a marker used by the server to indicate that the MIME types advertised in the Content-Type headers should not be changed and be followed. This is a way to opt out of MIME type sniffing, or, in other words, to say that the MIME types are deliberately configured.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options',
        },
    },
    xFrameOptions: {
        name: 'X-Frame-Options Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'X-Frame-Options header is set to',
            warning: 'Set X-Frame-Options header to "DENY" or "SAMEORIGIN"',
        },
        info: 'The X-Frame-Options header can be used to indicate whether or not a browser should be allowed to render a page in a <frame>, <iframe>, <embed> or <object>. Sites can use this to avoid click-jacking attacks, by ensuring that their content is not embedded into other sites.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options',
        },
    },
    xXssProtection: {
        name: 'X-XSS-Protection Header',
        type: 'secure',
        typeName: 'HTTP Header',
        details: {
            pass: 'X-XSS-Protection header is set to',
            warning: 'Set X-XSS-Protection header to "1; mode=block"',
        },
        info: 'The X-XSS-Protection header is a feature of Internet Explorer, Chrome and Safari that stops pages from loading when they detect reflected cross-site scripting (XSS) attacks. Although these protections are largely unnecessary in modern browsers when sites implement a strong Content Security Policy that disables the use of inline JavaScript, they can still provide protections for users of older web browsers that don’t yet support CSP.',
        link: {
            label: 'MDN Web Docs',
            url: 'https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection',
        },
    },
    blowfishHashCost: {
        name: 'Blowfish Hash Cost',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Blowfish hash cost is set to',
            warning: 'Set blowfish hash cost to at least 13',
        },
        info: 'The higher the cost value, the longer it takes to generate a password hash and to verify against it. For best protection against brute force attacks, set it to the highest value that is tolerable on your server.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#blowfishhashcost',
        },
    },
    cooldownDuration: {
        name: 'Cooldown Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Cooldown duration is set to',
            warning: 'Set cooldown duration to false or at least 300',
        },
        info: 'The amount of time a user must wait before re-attempting to log in after their account is locked due to too many failed login attempts. Setting this to false will keep the account locked indefinitely. Setting this to 300 will keep the account locked for 5 minutes.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#cooldownduration',
        },
    },
    cpTrigger: {
        name: 'Control Panel Trigger',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Control panel trigger is not "admin"',
            warning: 'Change control panel trigger to something other than "admin"',
        },
        info: 'This is the URI segment that triggers Craft to load the control panel rather than the front-end website. Changing this to something other than the default "admin" can help prevent people from guessing the access point to your site’s control panel.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#cptrigger',
        },
    },
    defaultDirMode: {
        name: 'Default Folder Permissions',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Default folder permissions are set to ',
            warning: 'Set default folder permissions to 0775 or null',
        },
        info: 'The permissions Craft will use when creating a new folder on the file system. Set this to at most 0775, which will grant everything for the owner and group, read and execute for everyone else. If set to null, the permission will be determined by the current environment.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#defaultdirmode',
        },
    },
    defaultFileMode: {
        name: 'Default File Permissions',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Default file permissions are set to ',
            warning: 'Set default file permissions to 0664 or null',
        },
        info: 'The permissions Craft will use when creating a new file on the file system. Set this to at most 0664, which will grant read and write for the owner and group, read for everyone else. If set to null, the permission will be determined by the current environment.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#defaultfilemode',
        },
    },
    defaultTokenDuration: {
        name: 'Default Token Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Default token duration is set to',
            warning: 'Set default token duration to 86400 or less',
        },
        info: 'The duration that system tokens should last for. Setting this to 86400 or less will ensure that system tokens expire after at most 1 day.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#defaulttokenduration',
        },
    },
    deferPublicRegistrationPassword: {
        name: 'Defer Public Registration Password',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Defer public registration password is disabled',
            warning: 'Defer public registration password to false',
        },
        info: 'By default, Craft will require a password field to be submitted on front-end, public user registrations. Setting this to true will no longer require it on the initial registration form. If you have email verification enabled, new users will set their password once they’ve clicked on the verification link in the email. If you don’t, the only way they can set their password is to go through your forgot password workflow.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#deferpublicregistrationpassword',
        },
    },
    devMode: {
        name: 'Dev Mode',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Dev mode is disabled',
            warning: 'Disable dev mode',
        },
        info: 'Dev mode is intended for testing and debugging your site and outputs performance related data on the front-end. It should never be enabled in production environments.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#devmode',
        },
    },
    elevatedSessionDuration: {
        name: 'Elevated Session Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Elevated session duration is set to',
            warning: 'Set elevated session duration to 300 or less',
        },
        info: 'The amount of time a user’s elevated session will last, which is required for some sensitive actions (e.g. user group/permission assignment). Setting this to 300 or less will allow sensitive actions to be performed for at most 5 minutes.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#elevatedsessionduration',
        },
    },
    enableCsrfProtection: {
        name: 'CSRF Protection',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'CSRF protection is enabled',
            warning: 'Enable CSRF protection',
        },
        info: 'Cross-Site Request Forgery (CSRF) protection ensures that all POST requests to Craft must be accompanied by a CSRF token, otherwise the request will be rejected with a 400 error. This helps to prevent attacks that force unwanted actions to be executed on behalf of a user that is authenticated and logged in to Craft.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#enablecsrfprotection',
        },
    },
    invalidLoginWindowDuration: {
        name: 'Invalid Login Window Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Invalid login window duration is set to',
            warning: 'Set invalid login window duration to at least 3600',
        },
        info: 'The amount of time to track invalid login attempts for a user, for determining if Craft should lock an account. Setting this to at least 3600 will ensure that invalid login attempts are tracked for at least 1 hour.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#invalidloginwindowduration',
        },
    },
    maxInvalidLogins: {
        name: 'Max Invalid Logins',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Max invalid logins is set to',
            warning: 'Set max invalid logins to 5 or less',
        },
        info: 'The number of invalid login attempts Craft will allow within the specified duration before the account gets locked. Set this to 5 or less to help prevent a brute force attack.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#maxinvalidlogins',
        },
    },
    preventUserEnumeration: {
        name: 'Prevent User Enumeration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Prevent user enumeration is enabled',
            warning: 'Set prevent user enumeration to true',
        },
        info: 'When true, Craft will always return a successful response in the forgot password flow, making it difficult to enumerate users. When set to false and you go through the forgot password flow from the control panel login page, you’ll get distinct messages indicating whether the username/email exists and whether an email was sent with further instructions. This can be helpful for the user attempting to log in but allow for username/email enumeration based on the response.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#preventuserenumeration',
        },
    },
    rememberedUserSessionDuration: {
        name: 'Remembered User Session Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Remembered user session duration is set to',
            warning: 'Set remembered user session duration to 1209600 or less',
        },
        info: 'The amount of time a user stays logged in if "Remember Me" is checked on the login page. Setting this to 1209600 or less will ensure that users are remembered for at most 2 weeks.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#rememberedusersessionduration',
        },
    },
    requireMatchingUserAgentForSession: {
        name: 'Require Matching User Agent For Session',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Require matching user agent for session is enabled',
            warning: 'Set require matching user agent for session to true',
        },
        info: 'Whether Craft should require a matching user agent string when restoring a user session from a cookie. Keeping this enabled will prevent users switching to different browsers/devices while remaining logged in.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#requirematchinguseragentforsession',
        },
    },
    requireUserAgentAndIpForSession: {
        name: 'Require User Agent And IP For Session',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Require user agent and IP for session is enabled',
            warning: 'Set require user agent and IP for session to true',
        },
        info: 'Whether Craft should require the existence of a user agent string and IP address when creating a new user session. Keeping this enabled will help prevent user sessions being created for bots.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#requireuseragentandipforsession',
        },
    },
    sanitizeSvgUploads: {
        name: 'Sanitize SVG Uploads',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Sanitizing uploaded SVG files is enabled',
            warning: 'Set sanitize SVG uploads to true',
        },
        info: 'Whether Craft should sanitize uploaded SVG files and strip out potential malicious-looking content. This should definitely be enabled if you are accepting SVG uploads from untrusted sources.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#sanitizesvguploads',
        },
    },
    testToEmailAddress: {
        name: 'Test Email Address',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Test email address is disabled',
            warning: 'Remove test email address',
        },
        info: 'If set, all system emails will be sent to this email address. It is intended for testing and should be disabled in live production environments.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#testtoemailaddress',
        },
    },
    translationDebugOutput: {
        name: 'Translation Debug Output',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Translation debug output is disabled',
            warning: 'Set translation debug output to false',
        },
        info: 'If enabled, this setting will wrap all strings that are run through `Craft::t()` or the `|translate` and `|t` filters with "@" symbols. It is intended for debugging and should absolutely be disabled in production environments.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#translationdebugoutput',
        },
    },
    userSessionDuration: {
        name: 'User Session Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'User session duration is set to',
            warning: 'Set user session duration to 3600 or less',
        },
        info: 'The amount of time a user stays logged in. Setting this to false will allow users to stay logged in as long as their browser is open. Setting this to 3600 or less will allow users to stay logged in for at most 1 hour.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#usersessionduration',
        },
    },
    useSecureCookies: {
        name: 'Use Secure Cookies',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Site is using secure cookies',
            warning: 'Set secure cookies to "on" or "auto"',
        },
        info: 'Whether Craft should set the secure flag on its cookies, limiting them to only be sent on secure (SSL) requests. Setting this to "on" or "auto" will ensure that the secure flag is set.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#usesecurecookies',
        },
    },
    verificationCodeDuration: {
        name: 'Verification Code Duration',
        type: 'settings',
        typeName: 'Config Setting',
        details: {
            pass: 'Verification code duration is set to',
            warning: 'Set verification code duration to 86400 or less',
        },
        info: 'The amount of time a user verification code can be used before expiring. Setting this to 86400 or less will ensure that the user verification code expires after at most 1 day.',
        link: {
            label: 'Craft Docs',
            url: 'https://craftcms.com/docs/3.x/config/config-settings.html#verificationcodeduration',
        },
    },
} %}
